<div class="grid grid-cols-1 md:grid-cols-2 h-screen overflow-hidden">
    <div class="general-auth h-full">
        <div class="absolute right-[20%] bottom-[15%] z-20 text-white">
            <div class="text-2xl font-bold">I-Recruiter</div>
            <div>&copy; {{date.getFullYear()}}.</div>
        </div>
    </div>
    <div class="overflow-auto">
        <div class="flex items-center justify-between sticky left-0 right-0 top-0 bg-white shadow p-4">
            <div class="cursor-pointer text-slate-400 hover:text-slate-600"><span>&lt;</span> Home</div>
            <div class="" *ngIf="login">
                Don't have an account? <span class="cursor-pointer text-blue-400 hover:text-blue-600" (click)="toggleToRegister()">Register</span>
            </div>
            <div class="" *ngIf="register">
                Already have an account? <span class="cursor-pointer text-blue-400 hover:text-blue-600" (click)="toggleToLogin()">Login</span>
            </div>
        </div>
        <div class="p-10 h-full flex items-center justify-center">
            <div *ngIf="login">
                <div class="font-bold text-2xl">IRecruiter {{status}} Login</div>
                <div class="text-slate-400 text-lg mt-3">Please fill in your login details.</div>
                <form action="" class="mt-3" [formGroup]="loginForm">
                    <div>
                        <div class="font-bold text-lg">Email <span class="text-red-400 font-normal">*</span></div>
                        <div class="mt-2"><input type="email" class="outline-none border border-black rounded p-4 min-w-[400px] w-[60%]" [ngClass]="{'border-red-400': loginForm.get('email')?.dirty && loginForm.get('email')?.invalid}" placeholder="Enter your Email" formControlName="email"> <span class="fa fa-eye-slash"></span></div>
                        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                            <small class="text-red-400" *ngIf="loginForm.get('email')?.errors?.['required']">Email cannot be empty.</small>
                            <small class="text-red-400" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid Email Format.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-bold text-lg">Password <span class="text-red-400 font-normal">*</span></div>
                        <div class="mt-2"><input type="password" class="outline-none border border-black rounded p-4 min-w-[400px] w-[60%]" [ngClass]="{'border-red-400': loginForm.get('password')?.dirty && loginForm.get('password')?.invalid}" placeholder="Enter your Password" formControlName="password"></div>
                        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                            <small class="text-red-400" *ngIf="loginForm.get('password')?.errors?.['required']">Password cannot be empty.</small>
                        </div>
                    </div>
                    <div class="mt-5"><button [disabled]="loginForm?.invalid" class="outline-none bg-blue-400 hover:bg-blue-700 text-white rounded p-4 min-w-[400px] w-[60%]" [class.bg-blue-600]="loginForm?.valid">Login</button></div>
                </form>
            </div>
            <div *ngIf="register">
                <div class="font-bold text-2xl">IRecruiter {{status}} Registration</div>
                <div class="text-slate-400 text-lg mt-3">Please fill in your details to register.</div>
                <form action="" class="mt-3" [formGroup]="registrationForm">
                    <div>
                        <div class="font-bold text-lg">Full Name <span class="text-red-400 font-normal">*</span></div>
                        <div class="mt-2"><input type="text" class="outline-none border border-black rounded p-4 min-w-[400px] w-[60%]" [ngClass]="{'border-red-400': registrationForm.get('fullName')?.dirty && registrationForm.get('fullName')?.invalid}" formControlName="fullName"></div>
                        <div *ngIf="registrationForm.get('fullName')?.touched && registrationForm.get('fullName')?.invalid">
                            <small class="text-red-400" *ngIf="registrationForm.get('fullName')?.errors?.['required']">Full Name cannot be empty.</small>
                            <small class="text-red-400" *ngIf="registrationForm.get('fullName')?.errors?.['minLength']">Minimum length is 5.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-bold text-lg">Email <span class="text-red-400 font-normal">*</span></div>
                        <div class="mt-2"><input type="email" class="outline-none border border-black rounded p-4 min-w-[400px] w-[60%]" [ngClass]="{'border-red-400': registrationForm.get('email')?.dirty && registrationForm.get('email')?.invalid}" formControlName="email"></div>
                        <div *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
                            <small class="text-red-400" *ngIf="registrationForm.get('email')?.errors?.['required']">Email cannot be empty.</small>
                            <small class="text-red-400" *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid Email Format.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-bold text-lg">Password <span class="text-red-400 font-normal">*</span></div>
                        <div class="mt-2"><input type="password" class="outline-none border border-black rounded p-4 min-w-[400px] w-[60%]" [ngClass]="{'border-red-400': registrationForm.get('password')?.dirty && registrationForm.get('password')?.invalid}" formControlName="password"></div>
                        <div *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid">
                            <small class="text-red-400" *ngIf="registrationForm.get('password')?.errors?.['required']">Password cannot be empty.</small>
                            <small class="text-red-400" *ngIf="registrationForm.get('password')?.errors?.['pattern']">Weak Password.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="font-bold text-lg">Confirm Password <span class="text-red-400 font-normal">*</span></div>
                        <div class="mt-2"><input type="password" class="outline-none border border-black rounded p-4 min-w-[400px] w-[60%]" [ngClass]="{'border-red-400': registrationForm?.errors?.['mismatch'] && registrationForm.get('confirmPassword')?.dirty}" formControlName="confirmPassword"></div>
                        <small class="text-red-400 block" *ngIf="registrationForm.get('confirmPassword')?.errors?.['required'] && registrationForm.get('confirmPassword')?.dirty">Confirm Password cannot be empty.</small>
                        <small class="text-red-400 block" *ngIf="registrationForm?.errors?.['mismatch'] && registrationForm.get('confirmPassword')?.dirty">Password Mismatch.</small>
                    </div>
                    <div class="mt-5"><input type="button" value="Register" class="outline-none bg-blue-600 hover:bg-blue-700 text-white cursor-pointer rounded p-4 min-w-[400px] w-[60%]"></div>
                </form>
            </div>
        </div>
    </div>
</div>
