<div class="training px-20">
    <div class="relative z-10">
        <div class="text-white text-center text-6xl font-bold mb-5">
            Can we meet ?
        </div>
        <div class="text-slate-300 text-center">About Us</div>
    </div>
</div>
<div class="bg-slate-100 p-20">
    <h3
        class="text-center relative text-xl font-bold mb-8 after:content-[''] after:absolute after:w-[50px] after:h-[5px] after:bg-blue-600 after:-bottom-1 after:right-[50%] after:translate-x-1/2"
    >
        Our Core Mission
    </h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 justify-center block gap-3">
        <div class="bg-blue-100 shadow p-10 rounded">
        <h3
            class="text-xl font-bold my-4 pl-3 text-blue-700 relative before:content-[''] before:absolute before:w-[5px] before:h-[25px] before:bg-blue-700 before:bottom-1 before:-left-0"
        >
            Company Staffing
        </h3>
        <p class="leading-7 mb-6 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quis
            voluptatem nostrum qui commodi assumenda maiores placeat quas,
            necessitatibus pariatur quaerat iusto, id laborum velit atque odio eum
            molestiae perferendis.
        </p>
        <div
            class="bg-blue-500 w-[150px] rounded text-white px-3 py-2 text-center font-semibold hover:bg-blue-600 cursor-pointer transition-all duration-200 hover:font-bold"
        >
            Learn more
        </div>
        </div>
        <div class="bg-red-100 shadow p-10 rounded">
        <h3
            class="text-xl font-bold my-4 pl-3 text-red-700 relative before:content-[''] before:absolute before:w-[5px] before:h-[25px] before:bg-red-700 before:bottom-1 before:left-0"
        >
            Connecting Employer to Employee
        </h3>
        <p class="leading-7 mb-6 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse natus
            explicabo a quas officiis asperiores ratione? Id inventore debitis
            pariatur est, officiis neque? Voluptatum facere laudantium dicta
            molestias, ipsam atque!
        </p>
        <div
            class="bg-red-500 w-[150px] rounded text-white px-3 py-2 text-center font-semibold hover:bg-red-600 cursor-pointer transition-all duration-200 hover:font-bold"
        >
            Learn more
        </div>
        </div>
    </div>
</div>
<div class="bg-white p-20">
    <h3
        class="text-center relative text-xl font-bold mb-8 after:content-[''] after:absolute after:w-[50px] after:h-[5px] after:bg-blue-600 after:-bottom-1 after:right-[50%] after:translate-x-1/2"
    >
        Meet Our Team
    </h3>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-center block gap-3"
    >
        <div class="bg-slate-100 shadow p-6 rounded">
        <div class="h-[100px] w-[100px] mx-auto rounded-full border overflow-hidden">
            <img src="../../../assets/person1.avif" class="w-[200px] block mx-auto" alt="" />
        </div>
        <h3 class="text-center font-bold my-4">Samuel Water</h3>
        <p class="text-center">
            CEO
        </p>
        <p class="text-sm text-center text-blue-500">&#9993; samuelwater@irequiter.com</p>
        </div>
        <div class="bg-slate-100 shadow p-6 rounded">
        <div class="h-[100px] w-[100px] mx-auto rounded-full border overflow-hidden">
            <img src="../../../assets/person2.avif" class="w-[200px] block mx-auto" alt="" />
        </div>
        <h3 class="text-center font-bold my-4">David Jack</h3>
        <p class="text-center">
            Lead Strategist
        </p>
        <p class="text-sm text-center text-blue-500">&#9993; samuelwater@irequiter.com</p>
        </div>
        <div class="bg-slate-100 shadow p-6 rounded">
        <div class="h-[100px] w-[100px] mx-auto rounded-full border overflow-hidden">
            <img src="../../../assets/person3.avif" class="w-[200px] block mx-auto" alt="" />
        </div>
        <h3 class="text-center font-bold my-4">Iyiola Maxwell</h3>
        <p class="text-center">
            Head HR
        </p>
        <p class="text-sm text-center text-blue-500">&#9993; samuelwater@irequiter.com</p>
        </div>
        <div class="bg-slate-100 shadow p-6 rounded">
        <div class="h-[100px] w-[100px] mx-auto rounded-full border overflow-hidden">
            <img src="../../../assets/person4.avif" class="w-[200px] block mx-auto" alt="" />
        </div>
        <h3 class="text-center font-bold my-4">Samson Edinburg</h3>
        <p class="text-center">
            Lead Marketer
        </p>
        <p class="text-sm text-center text-blue-500">&#9993; samuelwater@irequiter.com</p>
        </div>
    </div>
</div>
