<div class="training px-20">
    <div class="relative z-10">
        <div class="text-white text-center text-6xl font-bold mb-5">
            Are you ready to <br> pick up a new skill ?
        </div>
        <div class="text-slate-300 text-center mb-5">Become a Talent</div>
        <div
          class="mx-auto bg-blue-700 w-[150px] rounded text-white px-3 py-2 text-center font-semibold hover:bg-blue-500 cursor-pointer transition-all duration-200 hover:font-bold" routerLink="/learner"
        >
          Get Started
        </div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 px-20">
    <div>
        <img src="../../../assets/coding.png">
    </div>
    <div class="py-24">
        <div class="text-xl font-bold text-center relative after:content-[''] after:absolute after:w-[50px] after:h-[3px] after:bg-blue-600 after:-bottom-1 after:right-[50%] after:translate-x-1/2">How it works</div>
    </div>
</div>
<div class="p-20">
    <div class="text-xl font-bold text-center relative after:content-[''] after:absolute after:w-[50px] after:h-[3px] after:bg-blue-600 after:-bottom-1 after:right-[50%] after:translate-x-1/2 mb-10">Our course catalogue</div>
    <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-[1fr_1fr_1fr_1fr] lg:grid-cols-5 gap-3">
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/frontend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Front End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Front End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Bootstrap CSS, Tailwind CSS and any of these JavaScript frameworks (Angular, React JS, and Vue JS)</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/backend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Back End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Back End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Node JS, Express and Mongo DB</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded" routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/digital-marketing.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Digital Marketing</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Digital Marketing Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/data-science.avif" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Data Science</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Data Science Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/cloud-engineering.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Cloud Engineering</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Cloud Engineering Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/machine-learning.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Machine Learning</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Machine Learning Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/graphics-designing.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Graphics Design</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Graphics Design Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/ui-ux.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">UI/UX</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">UI/UX Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/frontend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Front End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Front End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Bootstrap CSS, Tailwind CSS and any of these JavaScript frameworks (Angular, React JS, and Vue JS)</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/backend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Back End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Back End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Node JS, Express and Mongo DB</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/digital-marketing.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Digital Marketing</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Digital Marketing Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/data-science.avif" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Data Science</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Data Science Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/cloud-engineering.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Cloud Engineering</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Cloud Engineering Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/machine-learning.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Machine Learning</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Machine Learning Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/graphics-designing.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Graphics Design</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Graphics Design Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/ui-ux.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">UI/UX</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">UI/UX Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/frontend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Front End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Front End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Bootstrap CSS, Tailwind CSS and any of these JavaScript frameworks (Angular, React JS, and Vue JS)</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/backend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Back End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Back End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Node JS, Express and Mongo DB</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/digital-marketing.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Digital Marketing</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Digital Marketing Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/data-science.avif" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Data Science</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Data Science Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/cloud-engineering.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Cloud Engineering</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Cloud Engineering Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/machine-learning.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Machine Learning</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Machine Learning Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/graphics-designing.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Graphics Design</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Graphics Design Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/ui-ux.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">UI/UX</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">UI/UX Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/frontend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Front End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Front End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Bootstrap CSS, Tailwind CSS and any of these JavaScript frameworks (Angular, React JS, and Vue JS)</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/backend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Back End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Back End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Node JS, Express and Mongo DB</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/digital-marketing.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Digital Marketing</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Digital Marketing Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/data-science.avif" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Data Science</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Data Science Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/cloud-engineering.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Cloud Engineering</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Cloud Engineering Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/machine-learning.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Machine Learning</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Machine Learning Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/graphics-designing.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Graphics Design</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Graphics Design Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/ui-ux.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">UI/UX</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">UI/UX Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/frontend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Front End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Front End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Bootstrap CSS, Tailwind CSS and any of these JavaScript frameworks (Angular, React JS, and Vue JS)</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/backend.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Back End Web Development</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Back End Web Development Course</div>
                    <div class="leading-5 text-justify">In this course, you will learn: HTML5, CSS, JavaScript, Node JS, Express and Mongo DB</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/digital-marketing.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Digital Marketing</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Digital Marketing Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/data-science.avif" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Data Science</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Data Science Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/cloud-engineering.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Cloud Engineering</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Cloud Engineering Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/machine-learning.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Machine Learning</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Machine Learning Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/graphics-designing.jpg" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">Graphics Design</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">Graphics Design Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
        <div class="h-52 cursor-pointer relative group">
            <div class="relative h-full w-full">
                <img src="../../../assets/ui-ux.webp" class="h-full w-full" alt="">
                <div class="absolute bottom-0 right-0 left-0 bg-blue-600 opacity-80 text-center py-2 text-white text-sm font-bold">UI/UX</div>
            </div>
            <div class="absolute inset-0 bg-blue-600 opacity-90 hidden group-hover:block">
                <div class="p-2 text-white relative">
                    <div class="text-center leading-5 text-lg font-bold mb-2">UI/UX Course</div>
                    <div class="leading-5 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, sapiente!</div>
                </div>
                <div class="absolute px-3 py-2 text-sm bottom-1 translate-x-1/2 right-1/2 font-bold bg-black text-white rounded"routerLink="/learner">Start now</div>
            </div>
        </div>
    </div>
</div>