<div class="flex fixed w-full bg-white top-0 py-3 items-center px-10 shadow justify-between z-20">
    <div class="text-xl font-bold text-blue-600">I-Recruiter</div>
    <div class="flex items-center">
    <div class="text-sm cursor-pointer text-blue-600 hover:pb-1 font-medium transition-all duration-300 hover:border-b-2 hover:border-blue-600" routerLink="/" routerLinkActive="border-b-2 pb-1 border-blue-600" [routerLinkActiveOptions]="{exact: true}">Home</div>
    <div class="ml-6 text-sm cursor-pointer text-blue-600 hover:pb-1 font-medium transition-all duration-300 hover:border-b-2 hover:border-blue-600" routerLink="/about-us" routerLinkActive="border-b-2 pb-1 border-blue-600">About Us</div>
    <div class="ml-6 text-sm cursor-pointer text-blue-600 hover:pb-1 font-medium transition-all duration-300 hover:border-b-2 hover:border-blue-600" routerLink="/become-expert" routerLinkActive="border-b-2 pb-1 border-blue-600">Become An Expert</div>
    <div class="ml-6 text-sm cursor-pointer text-blue-600 hover:pb-1 font-medium transition-all duration-300 hover:border-b-2 hover:border-blue-600" routerLink="/recruiter" routerLinkActive="border-b-2 pb-1 border-blue-600">Recruit An Expert</div>
    <div class="ml-6 text-sm cursor-pointer text-white font-medium px-4 py-2 bg-blue-600 rounded hover:bg-blue-500" routerLink="/job-seeker">Get Job</div>
    </div>
</div>