.training{
    background-image: url("../../../assets/training.png");
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.training::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.548);
}